.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 4em;
}

.form-inputs {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.name, .email .message{
  width: 100%;
  margin: 0;
}

.submit {
  width: 50%;
  align-self: center;
}